<div class="scroll-list jscroll">
  <% @youtube_data.each_with_index do |item,index| %>
    <% snippet = item.snippet %>
    <div class="contents-container">
      <p><%= snippet.title %></p>
      <div><iframe class="video-contains" width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <button class="js-modal-open-"+"<%= index %>">プレイリストに登録</button>
    </div>

    <!-- modal -->
    <div class="modal js-modal-"+"<%= index %>">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
        <% if @current_user %>
          <p>登録したいプレイリストを選択してください</p>
          <% if @playlists == nil %>
            <p>まだプレイリストが作成されていません</p>
          <% else %>
            <% @playlists.each do |playlist| %>
              <div class="centered">
                <p><%= link_to(playlist.name,"/playlist/#{playlist.id}/register/#{@youtube_data.items[index].id.video_id}") %></p>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>ログインが必要です</p>
        <% end %>
        <div class="centered">
          <a class="js-modal-close" href="">閉じる</a>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @youtube_data %>
</div>

<script type="text/javascript">
  $(function(){
    <% @youtube_data.each_with_index do |item,index| %>
      $('.js-modal-open-<%= index %>').on('click',function(){
          $('.js-modal-<%= index %>').fadeIn();
          return false;
      });
      $('.js-modal-close').on('click',function(){
          $('.js-modal-<%= index %>').fadeOut();
          return false;
      });
      <% @count += 1 %>
    <% end %>
  })

  $(window).on('scroll', function() {
    scrollHeight = $(document).height();
    scrollPosition = $(window).height() + $(window).scrollTop();
    if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
      $('.jscroll').jscroll({
        contentSelector: ".scroll-list",
        nextSelector: 'span.next:last a',
      });
      // $(document).on 'turbolinks:load', ->
      //   $('.jscroll').jscroll ->
      //    alert "clicked hogehoge"
    }
  });
</script>
