<div id="contents-parent"></div>
<div id="modal-parent"></div>
<div id="test"></div>

<script type="text/javascript">
  // var test = document.getElementById("test");
  // var element = document.createElement("p");
  // element.textContent = "<%= @test %>"
  // test.appendChild(element)

  var contentsParent = document.getElementById("contents-parent");
  var madalParent = document.getElementById("modal-parent");
  <% @youtube_data.items.each do |item| %>
  /*contents-parent */
    <% snippet = item.snippet %>
    var element1 = document.createElement("div");
    element1.className = "contents-container";
    var p_element1 = document.createElement("p");
    p_element1.textContent = "<%= snippet.title %>";
    var element2 = document.createElement("div");
    var iframe_element = document.createElement("iframe");
    iframe_element.className = "video-contains";
    iframe_element.src = "https://www.youtube.com/embed/<%= item.id.video_id %>"
    iframe_element.width = "560";
    iframe_element.height = "315";
    iframe_element.frameborder = "0";
    iframe_element.allow = "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture";
    iframe_element.allowfullscreen;

    var button_element = document.createElement("button");
    button_element.textContent = "プレイリストに登録";
    button_element.className = "js-modal-open-"+"<%= @index %>"

    element1.appendChild(p_element1);
    element1.appendChild(element2);
    element1.appendChild(iframe_element);
    element1.appendChild(button_element);
    contentsParent.appendChild(element1);

    /* modal-parent */
    var element3 = document.createElement("div");
    element3.className = "modal js-modal-"+"<%= @index %>";
    var element4 = document.createElement("div");
    element4.className = "modal__bg js-modal-close";
    var element5 = document.createElement("div");
    element5.className = "modal__content";

    var p_element2 = document.createElement("p");
    var p_element3 = document.createElement("p");
    <% if @current_user %>
      p_element2.textContent = "登録したいプレイリストを選択してください";
      element5.appendChild(p_element2);
      <% if @playlists == nil %>
        p_element3.textContent = "まだプレイリストが作成されていません";
      <% else %>
        <% @playlists.each do |playlist| %>
          var a_element1 = document.createElement("a");
          var element7 = document.createElement("div");
          element7.className = "centered";
          a_element1.textContent = "<%= playlist.name %>";
          a_element1.href = "/playlist/<%= playlist.id %>/register/<%= @youtube_data.items[@index].id.video_id %>"
          element7.appendChild(a_element1);
          element5.appendChild(element7);
          var br_element = document.createElement("br");
          element5.appendChild(br_element);
        <% end %>
      <% end %>
    <% else %>
      p_element2.textContent = "ログインが必要です";
      element5.appendChild(p_element2);
    <% end %>

    var element6 = document.createElement("div");
    element6.className = "centered";
    var a_element = document.createElement("a");
    a_element.className = "js-modal-close";
    a_element.href = "";
    a_element.textContent = "閉じる"

    element5.appendChild(p_element3);
    element5.appendChild(element6);
    element6.appendChild(a_element);
    element3.appendChild(element4);
    element3.appendChild(element5);
    madalParent.appendChild(element3);

    <% @index += 1 %>
  <% end %>

  $(function(){
    <% @youtube_data.items.each do |item| %>
      $('.js-modal-open-<%= @count %>').on('click',function(){
          $('.js-modal-<%= @count %>').fadeIn();
          return false;
      });
      $('.js-modal-close').on('click',function(){
          $('.js-modal-<%= @count %>').fadeOut();
          return false;
      });
      <% @count += 1 %>
    <% end %>
  })
</script>
