<!DOCTYPE html>
<html>
  <head>
    <title>RailsYoutubeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <header>
      <% if flash[:notice] %>
        <p class="flash"><%= flash[:notice] %></p>
      <% end %>
      <% if @current_user %>
        <%= link_to("登録情報の変更","/user/#{@current_user.id}/edit",{class: "edit"}) %>
        <%= link_to("ログアウト","/logout",{class: "logout"}) %>
      <% end %>
      <div class="search_container">
        <%= form_tag("/search",:method => 'get') do %>
          <input type="text" name="keyword" placeholder="キーワード検索" class="search-box" value=<%= @keyword %>>
          <button type="submit" class="search-submit">
            <i class="fas fa-search"></i>
          </button>
        <% end %>
      </div>
      <div class="header_tag">
        <% if @flag %>
          <p><%= link_to("プレイリスト一覧へ","/",{class: "create_tag"}) %></p>
        <% else %>
          <p><%= link_to("プレイリスト作成","/new/playlist",{class: "create_tag"}) %></p>
        <% end %>
      </div>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <% if @current_user %>
    <% else %>
      <footer>
          <div class="footer_container">
            <%= link_to("アカウント作成","/signup",{class: "footer-button1"}) %>
            <%= link_to("ログイン","/login_form",{class: "footer-button2"}) %>
          </div>
        </footer>
      <% end %>
  </body>
</html>
